@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.header-position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.header-text {
  font-family: "Electrolize", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 10px white;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px white;
  }
  100% {
    text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
  }
}